.container {
    background-color: rgba(99,156,51,.2);
    border: 1px solid #639c33;
    margin: .5rem;
    padding: .5rem;
}

.btn {
    border: 1px solid #047CC2;
    border-radius: .25rem;
    display: block;
    margin: .5rem 0;
    padding: .4rem;
}

.btn.btn-block {
    width: 100%;
}

.response {
    /* add style rules here to change how the response appears */
    border: 1px solid #047CC2;
    box-sizing: border-box;
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
}
